In [262]:
import pandas as pd

In [263]:
from prettytable import PrettyTable

# Create a list to store messages for the log file
log_messages = []

# Log and print messages
def log(message):
    log_messages.append(message)

# Print detailed information of selected rows with pretty format
def get_info(rows):
    table = PrettyTable()
    table.field_names = ["Index"] + rows.columns.tolist()
    for index, row in rows.iterrows():
        table.add_row([index+2] + row.tolist())
    
    return table

In [264]:
file_path = "../data/2023-08-01-2023-08-31_Agate Bay Monthly.csv"

In [265]:
lines = []

# Read only the first 10 lines into the 'lines' list
with open(file_path, "r") as f:
    for _ in range(10):
        line = f.readline()
        if not line:
            break
        lines.append(line)

# The first line where the word "timpestamps" (in any case) appears is the header line
header_index = next(
    (i for i, line in enumerate(lines) if "timestamp" in line.lower()), None
)

if header_index is None:
    error_message = "Header not found in the file."
    log(error_message)
    raise ValueError("Header not found in the file.")

# The index of the found header is exactly the number of rows to skip when reading the data
df = pd.read_csv(file_path, skiprows=header_index, header=0)
df

,Timestamp,POA Sensor,Weather station ambient temperature,Max wind speed - Lufft WS500,Production meter L-N voltage,Production meter active power,"TMEIC PVH-L2500R-E7 Inverter - 1, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 2, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 3, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 4, Active Power P"
0,8/1/2023 12:00:00 AM,-2.0,64.36333,0.863333,12.35889,-19.97367,0.0,0.0,0.0,0.0
1,8/1/2023 12:15:00 AM,-2.0,63.99000,0.740000,12.29711,-19.66233,0.0,0.0,0.0,0.0
2,8/1/2023 12:30:00 AM,-1.5,63.51333,1.443333,12.30100,-19.68500,0.0,0.0,0.0,0.0
3,8/1/2023 12:45:00 AM,-1.5,63.48000,0.816667,12.32422,-19.77967,0.0,0.0,0.0,0.0
4,8/1/2023 1:00:00 AM,-1.5,63.97667,0.793333,12.34722,-19.91733,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2971,8/31/2023 10:45:00 PM,0.0,61.81000,1.343333,12.33233,-19.84333,0.0,0.0,0.0,0.0
2972,8/31/2023 11:00:00 PM,0.0,62.15000,1.156667,12.34478,-19.92067,0.0,0.0,0.0,0.0
2973,8/31/2023 11:15:00 PM,0.0,61.96667,1.290000,12.31467,-19.74533,0.0,0.0,0.0,0.0
2974,8/31/2023 11:30:00 PM,0.5,61.85333,1.486667,12.32789,-19.81200,0.0,0.0,0.0,0.0
2975,8/31/2023 11:45:00 PM,0.5,61.80000,1.600000,12.34000,-19.88000,0.0,0.0,0.0,0.0

In [266]:
def column_temperature(df):
    ambient= [col for col in df.columns if 'ambient' in col.lower() and 'temperature' in col.lower()]
    if ambient:
        df.rename(columns={ambient[0]: 'Temperature'}, inplace=True)
    else:
        temperature = [col for col in df.columns if 'temperature' in col.lower()]
        if temperature:
            df.rename(columns={temperature[0]: 'Temperature'}, inplace=True)
        else:
            df['Ambient Temperature'] = -999
    return df

df = column_temperature(df)
df

,Timestamp,POA Sensor,Temperature,Max wind speed - Lufft WS500,Production meter L-N voltage,Production meter active power,"TMEIC PVH-L2500R-E7 Inverter - 1, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 2, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 3, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 4, Active Power P"
0,8/1/2023 12:00:00 AM,-2.0,64.36333,0.863333,12.35889,-19.97367,0.0,0.0,0.0,0.0
1,8/1/2023 12:15:00 AM,-2.0,63.99000,0.740000,12.29711,-19.66233,0.0,0.0,0.0,0.0
2,8/1/2023 12:30:00 AM,-1.5,63.51333,1.443333,12.30100,-19.68500,0.0,0.0,0.0,0.0
3,8/1/2023 12:45:00 AM,-1.5,63.48000,0.816667,12.32422,-19.77967,0.0,0.0,0.0,0.0
4,8/1/2023 1:00:00 AM,-1.5,63.97667,0.793333,12.34722,-19.91733,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2971,8/31/2023 10:45:00 PM,0.0,61.81000,1.343333,12.33233,-19.84333,0.0,0.0,0.0,0.0
2972,8/31/2023 11:00:00 PM,0.0,62.15000,1.156667,12.34478,-19.92067,0.0,0.0,0.0,0.0
2973,8/31/2023 11:15:00 PM,0.0,61.96667,1.290000,12.31467,-19.74533,0.0,0.0,0.0,0.0
2974,8/31/2023 11:30:00 PM,0.5,61.85333,1.486667,12.32789,-19.81200,0.0,0.0,0.0,0.0
2975,8/31/2023 11:45:00 PM,0.5,61.80000,1.600000,12.34000,-19.88000,0.0,0.0,0.0,0.0

In [267]:
def column_wind(df):
    wind = [col for col in df.columns if 'wind' in col.lower() or 'speed' in col.lower()]
    if wind:
        df.rename(columns={wind[0]: 'Wind Speed'}, inplace=True)
    else:
        df['Wind Speed'] = -999
    return df

df = column_wind(df)
df

,Timestamp,POA Sensor,Temperature,Wind Speed,Production meter L-N voltage,Production meter active power,"TMEIC PVH-L2500R-E7 Inverter - 1, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 2, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 3, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 4, Active Power P"
0,8/1/2023 12:00:00 AM,-2.0,64.36333,0.863333,12.35889,-19.97367,0.0,0.0,0.0,0.0
1,8/1/2023 12:15:00 AM,-2.0,63.99000,0.740000,12.29711,-19.66233,0.0,0.0,0.0,0.0
2,8/1/2023 12:30:00 AM,-1.5,63.51333,1.443333,12.30100,-19.68500,0.0,0.0,0.0,0.0
3,8/1/2023 12:45:00 AM,-1.5,63.48000,0.816667,12.32422,-19.77967,0.0,0.0,0.0,0.0
4,8/1/2023 1:00:00 AM,-1.5,63.97667,0.793333,12.34722,-19.91733,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2971,8/31/2023 10:45:00 PM,0.0,61.81000,1.343333,12.33233,-19.84333,0.0,0.0,0.0,0.0
2972,8/31/2023 11:00:00 PM,0.0,62.15000,1.156667,12.34478,-19.92067,0.0,0.0,0.0,0.0
2973,8/31/2023 11:15:00 PM,0.0,61.96667,1.290000,12.31467,-19.74533,0.0,0.0,0.0,0.0
2974,8/31/2023 11:30:00 PM,0.5,61.85333,1.486667,12.32789,-19.81200,0.0,0.0,0.0,0.0
2975,8/31/2023 11:45:00 PM,0.5,61.80000,1.600000,12.34000,-19.88000,0.0,0.0,0.0,0.0

In [268]:
def column_voltage(df):
    voltage = [col for col in df.columns if 'voltage' in col.lower()]
    if len(voltage) > 1:
        less_missing = min(voltage, key= lambda col: df[col].isna().sum)
        df.rename(columns={less_missing: 'Meter Voltage'}, inplace=True)
    elif voltage:
        df.rename(columns={voltage[0]: 'Meter Voltage'}, inplace=True)
    else:
        df['Meter Voltage'] = -999
    
    return df

df = column_voltage(df)
df

,Timestamp,POA Sensor,Temperature,Wind Speed,Meter Voltage,Production meter active power,"TMEIC PVH-L2500R-E7 Inverter - 1, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 2, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 3, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 4, Active Power P"
0,8/1/2023 12:00:00 AM,-2.0,64.36333,0.863333,12.35889,-19.97367,0.0,0.0,0.0,0.0
1,8/1/2023 12:15:00 AM,-2.0,63.99000,0.740000,12.29711,-19.66233,0.0,0.0,0.0,0.0
2,8/1/2023 12:30:00 AM,-1.5,63.51333,1.443333,12.30100,-19.68500,0.0,0.0,0.0,0.0
3,8/1/2023 12:45:00 AM,-1.5,63.48000,0.816667,12.32422,-19.77967,0.0,0.0,0.0,0.0
4,8/1/2023 1:00:00 AM,-1.5,63.97667,0.793333,12.34722,-19.91733,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2971,8/31/2023 10:45:00 PM,0.0,61.81000,1.343333,12.33233,-19.84333,0.0,0.0,0.0,0.0
2972,8/31/2023 11:00:00 PM,0.0,62.15000,1.156667,12.34478,-19.92067,0.0,0.0,0.0,0.0
2973,8/31/2023 11:15:00 PM,0.0,61.96667,1.290000,12.31467,-19.74533,0.0,0.0,0.0,0.0
2974,8/31/2023 11:30:00 PM,0.5,61.85333,1.486667,12.32789,-19.81200,0.0,0.0,0.0,0.0
2975,8/31/2023 11:45:00 PM,0.5,61.80000,1.600000,12.34000,-19.88000,0.0,0.0,0.0,0.0

In [269]:
def column_others(df):
    keyword_mapping = {
        "Timestamp": ["timestamp"],
        "POA Irradiance": ["poa"],
        "Meter Power": ["meter", "power"],
    }

    rename_mapping = {}
    for new_name, keywords in keyword_mapping.items():
        for col in df.columns:
            if all(keyword.lower() in col.lower() for keyword in keywords):
                rename_mapping[col] = new_name
                break

    # Rename columns excluding inverters according to the rename_mapping dictionary
    df.rename(columns=rename_mapping, inplace=True)
    
    return df

df = column_others(df)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Voltage,Meter Power,"TMEIC PVH-L2500R-E7 Inverter - 1, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 2, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 3, Active Power P","TMEIC PVH-L2500R-E7 Inverter - 4, Active Power P"
0,8/1/2023 12:00:00 AM,-2.0,64.36333,0.863333,12.35889,-19.97367,0.0,0.0,0.0,0.0
1,8/1/2023 12:15:00 AM,-2.0,63.99000,0.740000,12.29711,-19.66233,0.0,0.0,0.0,0.0
2,8/1/2023 12:30:00 AM,-1.5,63.51333,1.443333,12.30100,-19.68500,0.0,0.0,0.0,0.0
3,8/1/2023 12:45:00 AM,-1.5,63.48000,0.816667,12.32422,-19.77967,0.0,0.0,0.0,0.0
4,8/1/2023 1:00:00 AM,-1.5,63.97667,0.793333,12.34722,-19.91733,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2971,8/31/2023 10:45:00 PM,0.0,61.81000,1.343333,12.33233,-19.84333,0.0,0.0,0.0,0.0
2972,8/31/2023 11:00:00 PM,0.0,62.15000,1.156667,12.34478,-19.92067,0.0,0.0,0.0,0.0
2973,8/31/2023 11:15:00 PM,0.0,61.96667,1.290000,12.31467,-19.74533,0.0,0.0,0.0,0.0
2974,8/31/2023 11:30:00 PM,0.5,61.85333,1.486667,12.32789,-19.81200,0.0,0.0,0.0,0.0
2975,8/31/2023 11:45:00 PM,0.5,61.80000,1.600000,12.34000,-19.88000,0.0,0.0,0.0,0.0

In [270]:
def column_inverter(df):
    known_columns = [
        "Timestamp",
        "POA Irradiance",
        "Temperature",
        "Wind Speed",
        "Meter Power",
        "Meter Voltage",
    ]
    inverter_index = 1
    for col in df.columns:
        if col not in known_columns:
            df.rename(columns={col: "Inverter_" + str(inverter_index)}, inplace=True)
            inverter_index += 1

    return df

df = column_inverter(df)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Voltage,Meter Power,Inverter_1,Inverter_2,Inverter_3,Inverter_4
0,8/1/2023 12:00:00 AM,-2.0,64.36333,0.863333,12.35889,-19.97367,0.0,0.0,0.0,0.0
1,8/1/2023 12:15:00 AM,-2.0,63.99000,0.740000,12.29711,-19.66233,0.0,0.0,0.0,0.0
2,8/1/2023 12:30:00 AM,-1.5,63.51333,1.443333,12.30100,-19.68500,0.0,0.0,0.0,0.0
3,8/1/2023 12:45:00 AM,-1.5,63.48000,0.816667,12.32422,-19.77967,0.0,0.0,0.0,0.0
4,8/1/2023 1:00:00 AM,-1.5,63.97667,0.793333,12.34722,-19.91733,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2971,8/31/2023 10:45:00 PM,0.0,61.81000,1.343333,12.33233,-19.84333,0.0,0.0,0.0,0.0
2972,8/31/2023 11:00:00 PM,0.0,62.15000,1.156667,12.34478,-19.92067,0.0,0.0,0.0,0.0
2973,8/31/2023 11:15:00 PM,0.0,61.96667,1.290000,12.31467,-19.74533,0.0,0.0,0.0,0.0
2974,8/31/2023 11:30:00 PM,0.5,61.85333,1.486667,12.32789,-19.81200,0.0,0.0,0.0,0.0
2975,8/31/2023 11:45:00 PM,0.5,61.80000,1.600000,12.34000,-19.88000,0.0,0.0,0.0,0.0

In [271]:
def column_reorder(df):
    inverter_columns = sorted(col for col in df.columns if "Inverter" in col)
    columns_order = [
        "Timestamp",
        "POA Irradiance",
        "Temperature",
        "Wind Speed",
        "Meter Power",
        "Meter Voltage",
    ] + inverter_columns
    df = df[columns_order]

    return df 

df = column_reorder(df)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_2,Inverter_3,Inverter_4
0,8/1/2023 12:00:00 AM,-2.0,64.36333,0.863333,-19.97367,12.35889,0.0,0.0,0.0,0.0
1,8/1/2023 12:15:00 AM,-2.0,63.99000,0.740000,-19.66233,12.29711,0.0,0.0,0.0,0.0
2,8/1/2023 12:30:00 AM,-1.5,63.51333,1.443333,-19.68500,12.30100,0.0,0.0,0.0,0.0
3,8/1/2023 12:45:00 AM,-1.5,63.48000,0.816667,-19.77967,12.32422,0.0,0.0,0.0,0.0
4,8/1/2023 1:00:00 AM,-1.5,63.97667,0.793333,-19.91733,12.34722,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2971,8/31/2023 10:45:00 PM,0.0,61.81000,1.343333,-19.84333,12.33233,0.0,0.0,0.0,0.0
2972,8/31/2023 11:00:00 PM,0.0,62.15000,1.156667,-19.92067,12.34478,0.0,0.0,0.0,0.0
2973,8/31/2023 11:15:00 PM,0.0,61.96667,1.290000,-19.74533,12.31467,0.0,0.0,0.0,0.0
2974,8/31/2023 11:30:00 PM,0.5,61.85333,1.486667,-19.81200,12.32789,0.0,0.0,0.0,0.0
2975,8/31/2023 11:45:00 PM,0.5,61.80000,1.600000,-19.88000,12.34000,0.0,0.0,0.0,0.0

In [272]:
# Convert the datetime string to a datetime object
def custom_to_datetime(df):
 
    formats = [
        "%m/%d/%Y %I:%M:%S %p",  # MM/DD/YYYY HH:MM:SS AM/PM
        "%m/%d/%Y %H:%M:%S",  # MM/DD/YYYY 24-hour
        "%Y-%m-%d %H:%M:%S",  # YYYY-MM-DD 24-hour
        "%d/%m/%Y %H:%M:%S",  # DD/MM/YYYY 24-hour
        # Feel free to add more formats as needed
    ]
    for fmt in formats:
        try:
            df['Timestamp'] = pd.to_datetime(df['Timestamp'], format=fmt)
            return df  # return DataFrame if the format matches
        except ValueError:  # if the format doesn't match, continue to the next format
            continue
    raise ValueError(f"No suitable format found for the 'Timestamp' column.")  # raise error if no suitable format is found
    

df = custom_to_datetime(df)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_2,Inverter_3,Inverter_4
0,2023-08-01 00:00:00,-2.0,64.36333,0.863333,-19.97367,12.35889,0.0,0.0,0.0,0.0
1,2023-08-01 00:15:00,-2.0,63.99000,0.740000,-19.66233,12.29711,0.0,0.0,0.0,0.0
2,2023-08-01 00:30:00,-1.5,63.51333,1.443333,-19.68500,12.30100,0.0,0.0,0.0,0.0
3,2023-08-01 00:45:00,-1.5,63.48000,0.816667,-19.77967,12.32422,0.0,0.0,0.0,0.0
4,2023-08-01 01:00:00,-1.5,63.97667,0.793333,-19.91733,12.34722,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2971,2023-08-31 22:45:00,0.0,61.81000,1.343333,-19.84333,12.33233,0.0,0.0,0.0,0.0
2972,2023-08-31 23:00:00,0.0,62.15000,1.156667,-19.92067,12.34478,0.0,0.0,0.0,0.0
2973,2023-08-31 23:15:00,0.0,61.96667,1.290000,-19.74533,12.31467,0.0,0.0,0.0,0.0
2974,2023-08-31 23:30:00,0.5,61.85333,1.486667,-19.81200,12.32789,0.0,0.0,0.0,0.0
2975,2023-08-31 23:45:00,0.5,61.80000,1.600000,-19.88000,12.34000,0.0,0.0,0.0,0.0

In [273]:
from suntime import Sun

def site_name(file_name):
    site_name = file_name.split('_')[-1].replace(" Monthly.csv", "")
    return site_name

file_path = "./data/2023-08-01-2023-08-31_Agate Bay Monthly.csv"
site_name = site_name(file_path)
print(site_name)

Agate Bay

In [274]:
def getGeocoding(site_name):
    df = pd.read_csv("../data/geoCoding.csv")
    row = df.loc[df["Site Name"] == site_name]
    if row.empty:
        return None, None
    return row.iloc[0]["Latitude"], row.iloc[0]["Longitude"]

lat, lng = getGeocoding(site_name)
print(f"latitude: {lat}, longitude: {lng}")

latitude: 42.5225614, longitude: -122.8367639

In [275]:

# Determine wheter the missing value is from daytime or nighttime.
def determine_day_night(row):
    lat, lng = getGeocoding(site_name)
    if lat is None or lng is None:
        return "Unknown"
    sun = Sun(lat, lng)
    date = row["Timestamp"].date()
    sr = sun.get_local_sunrise_time(date).time()
    ss = sun.get_local_sunset_time(date).time()
    time = row["Timestamp"].time()
    if sr <= time <= ss:
        return "Day"
    else:
        return "Night"

In [276]:
df["Day/Night"] = df.apply(lambda row: determine_day_night(row), axis=1)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_2,Inverter_3,Inverter_4,Day/Night
0,2023-08-01 00:00:00,-2.0,64.36333,0.863333,-19.97367,12.35889,0.0,0.0,0.0,0.0,Night
1,2023-08-01 00:15:00,-2.0,63.99000,0.740000,-19.66233,12.29711,0.0,0.0,0.0,0.0,Night
2,2023-08-01 00:30:00,-1.5,63.51333,1.443333,-19.68500,12.30100,0.0,0.0,0.0,0.0,Night
3,2023-08-01 00:45:00,-1.5,63.48000,0.816667,-19.77967,12.32422,0.0,0.0,0.0,0.0,Night
4,2023-08-01 01:00:00,-1.5,63.97667,0.793333,-19.91733,12.34722,0.0,0.0,0.0,0.0,Night
...,...,...,...,...,...,...,...,...,...,...,...
2971,2023-08-31 22:45:00,0.0,61.81000,1.343333,-19.84333,12.33233,0.0,0.0,0.0,0.0,Day
2972,2023-08-31 23:00:00,0.0,62.15000,1.156667,-19.92067,12.34478,0.0,0.0,0.0,0.0,Night
2973,2023-08-31 23:15:00,0.0,61.96667,1.290000,-19.74533,12.31467,0.0,0.0,0.0,0.0,Night
2974,2023-08-31 23:30:00,0.5,61.85333,1.486667,-19.81200,12.32789,0.0,0.0,0.0,0.0,Night
2975,2023-08-31 23:45:00,0.5,61.80000,1.600000,-19.88000,12.34000,0.0,0.0,0.0,0.0,Night

In [277]:
import pandas as pd
from prettytable import PrettyTable
from datetime import date

In [278]:
log_messages = []

def log(message):
    log_messages.append(message)

In [279]:
def format_workorders(workorders):
    table = PrettyTable()
    table.field_names = ["Index"] + workorders.columns.tolist()
    for index, row in workorders.iterrows():
        table.add_row([index] + row.tolist())
    return table

def fetch_work_order(work_order, missing_dates, site_name):
    work_order['Fault/Event Start'] = pd.to_datetime(work_order['Fault/Event Start'], format="%b %d, %Y %I:%M:%S %p")
    work_order['Date'] = work_order['Fault/Event Start'].dt.date
    fetched_records = work_order[(work_order['Date'].isin(missing_dates)) & (work_order['Site Name'].isin([site_name]))]
    if fetched_records.empty:
        log(f"No work orders found for site {site_name} on the missing dates.")
    else:
        formatted_table = format_workorders(fetched_records.drop('Date', axis = 1))
        log(f"Information from work order:\n{formatted_table}" )

    return fetched_records

In [280]:
work_order = pd.read_csv('../data/WorkOrder.csv',skiprows=0, header=0)
missing_dates= [date(2023, 8, 11), date(2023, 8, 19)]
site_name = 'Agate Bay'
fetched_records = fetch_work_order(work_order, missing_dates,site_name)

fetched_records

,Site Name,WO#,Fault/Event Start,Fault End,Date When Marked Complete/Incomplete,Description,Date
155,Agate Bay,27412,2023-08-11 22:05:00,"Aug 12, 2023 08:35:00 AM",NaN,Site offline,2023-08-11
266,Agate Bay,27554,2023-08-19 22:15:00,"Aug 20, 2023 08:20:00 AM",NaN,Agate Bay - Site - Offline (Grid Outage),2023-08-19

In [281]:
off_records = fetched_records[fetched_records["Description"].str.contains("offline", case=False, na=False)]
off_records['Date'] = off_records['Fault/Event Start'].dt.date
off_dates = off_records["Date"].tolist()
off_dates

[datetime.date(2023, 8, 11), datetime.date(2023, 8, 19)]

In [282]:
df["Date"] = df["Timestamp"].dt.date
mask = df['Date'].isin(off_dates)
columns_to_check = ["Meter Voltage"] + [col for col in df.columns if col.startswith("Inverter_")]
missing_index = df[mask & df[columns_to_check].isna().any(axis=1)].index
df.loc[mask, columns_to_check] = df.loc[mask, columns_to_check].fillna(0)

In [283]:
df.loc[missing_index]

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_2,Inverter_3,Inverter_4,Day/Night,Date
1037,2023-08-11 19:15:00,168.0,87.59666,7.640000,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1038,2023-08-11 19:30:00,34.0,86.72000,7.483333,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1039,2023-08-11 19:45:00,22.0,85.62334,7.493333,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1040,2023-08-11 20:00:00,8.0,84.50333,5.703333,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1041,2023-08-11 20:15:00,2.0,83.27333,4.080000,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1042,2023-08-11 20:30:00,0.0,82.30334,2.076667,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1043,2023-08-11 20:45:00,0.0,81.33667,1.776667,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1044,2023-08-11 21:00:00,0.0,80.11000,2.400000,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1045,2023-08-11 21:15:00,0.0,79.13333,2.203333,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1046,2023-08-11 21:30:00,0.0,78.48000,3.156667,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-11
1047,2023-08-11 21:45:00,0.0,77.38333,2.613333,0.0,12.34533,0.0,0.0,0.0,0.0,Day,2023-08-11
1048,2023-08-11 22:00:00,0.0,77.15334,1.853333,0.0,12.36822,0.0,0.0,0.0,0.0,Day,2023-08-11
1049,2023-08-11 22:15:00,0.0,76.56333,1.230000,0.0,12.30911,0.0,0.0,0.0,0.0,Day,2023-08-11
1050,2023-08-11 22:30:00,0.0,75.93000,1.060000,0.0,12.32089,0.0,0.0,0.0,0.0,Day,2023-08-11
1051,2023-08-11 22:45:00,0.0,74.68000,0.423333,0.0,12.36933,0.0,0.0,0.0,0.0,Day,2023-08-11
1052,2023-08-11 23:00:00,0.0,73.73333,0.453333,0.0,12.30100,0.0,0.0,0.0,0.0,Day,2023-08-11
1053,2023-08-11 23:15:00,0.0,72.65334,0.413333,0.0,12.33833,0.0,0.0,0.0,0.0,Day,2023-08-11
1054,2023-08-11 23:30:00,0.0,71.33000,0.660000,0.0,12.33289,0.0,0.0,0.0,0.0,Night,2023-08-11
1055,2023-08-11 23:45:00,0.0,68.62666,1.340000,0.0,12.35855,0.0,0.0,0.0,0.0,Night,2023-08-11
1806,2023-08-19 19:30:00,44.0,83.80666,10.050000,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1807,2023-08-19 19:45:00,16.0,82.61667,7.243333,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1808,2023-08-19 20:00:00,4.0,81.96667,3.910000,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1809,2023-08-19 20:15:00,2.0,82.07333,3.636667,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1810,2023-08-19 20:30:00,1.0,81.79667,1.826667,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1811,2023-08-19 20:45:00,1.0,81.35000,2.056667,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1812,2023-08-19 21:00:00,1.0,80.38000,1.930000,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1813,2023-08-19 21:15:00,1.0,78.76667,2.683333,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1814,2023-08-19 21:30:00,1.0,76.32000,3.606667,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1815,2023-08-19 21:45:00,0.0,76.39000,1.706667,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1816,2023-08-19 22:00:00,1.0,74.58000,4.130000,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1817,2023-08-19 22:15:00,1.0,73.77666,5.570000,NaN,0.00000,0.0,0.0,0.0,0.0,Day,2023-08-19
1818,2023-08-19 22:30:00,1.0,73.05000,4.666667,0.0,12.25966,0.0,0.0,0.0,0.0,Day,2023-08-19
1819,2023-08-19 22:45:00,1.0,72.47667,6.680000,0.0,12.26333,0.0,0.0,0.0,0.0,Day,2023-08-19
1820,2023-08-19 23:00:00,1.0,71.99667,5.403333,0.0,12.32389,0.0,0.0,0.0,0.0,Day,2023-08-19
1821,2023-08-19 23:15:00,1.0,71.82000,4.440000,0.0,12.28200,0.0,0.0,0.0,0.0,Night,2023-08-19
1822,2023-08-19 23:30:00,1.0,71.18667,3.020000,0.0,12.30233,0.0,0.0,0.0,0.0,Night,2023-08-19
1823,2023-08-19 23:45:00,1.0,70.55000,3.463333,0.0,12.29889,0.0,0.0,0.0,0.0,Night,2023-08-19