In [36]:
import pandas as pd
import numpy as np
import os

In [37]:
def extract_site_name(filename):
    # Split the string on space " " and underscore "_", then filter out empty strings
    parts = [part for part in filename.replace("_", " ").split(" ") if part]

    # Find the index of the parts where 'NESM' and 'availability' occur
    try:
        start_index = parts.index('NESM') + 1  
        end_index = parts.index('availability')
    except ValueError:
        print("Can't find 'NESM' or 'avalability' in the file name.")

    # Extract the parts between 'NESM' and 'availability'
    site_name_parts = parts[start_index:end_index]

    # Join the parts back together with space to form the site name
    site_name = " ".join(site_name_parts) 
    

    return site_name

In [38]:
def concat_csv_files(directory, pattern):
    all_data = []

    for filename in os.listdir(directory):
        if filename.endswith(pattern):
            print(filename)
            site_name = extract_site_name(filename)
            print(f"Processing: {site_name}")
            file_path = os.path.join(directory, filename)
            combined_df = pd.read_csv(file_path, index_col=None, header=0)
            combined_df = combined_df.iloc[0].to_frame().T
            combined_df.insert(0, "Site Name", site_name)
            all_data.append(combined_df)

    combined_df = pd.concat(all_data, ignore_index=True)
    combined_df.columns = [
        col if col == "Site Name" else pd.to_datetime(col).strftime("%Y-%m")
        for col in combined_df.columns
    ]

    combined_df = combined_df.sort_values(by=combined_df.columns[0])

    return combined_df

In [39]:
combined_df = concat_csv_files("../202209-202309_cal", "Calc.csv")
combined_df.to_csv("manual_result.csv", index=False)
combined_df

NESM Chiloquin availability calc_Calc.csv
Processing: Chiloquin
NESM Tiburon availability calc_Calc.csv
Processing: Tiburon
NESM Sedberry availability calc_Calc.csv
Processing: Sedberry
NESM Gauss availability calc_Calc.csv
Processing: Gauss
NESM NC Solar II availability calc_Calc.csv
Processing: NC Solar II
NESM Sarah availability calc_Calc.csv
Processing: Sarah
NESM Nitro availability calc_Calc.csv
Processing: Nitro
NESM Mariposa availability calc_Calc.csv
Processing: Mariposa
NESM Sonne Two availability calc_Calc.csv
Processing: Sonne Two
NESM Merrill availability calc_Calc.csv
Processing: Merrill
NESM South Robeson availability calc_Calc.csv
Processing: South Robeson
NESM NC Solar I availability calc_Calc.csv
Processing: NC Solar I
NESM Jersey availability calc_Calc.csv
Processing: Jersey
NESM Cotten availability calc_Calc.csv
Processing: Cotten
NESM Freemont availability calc_Calc.csv
Processing: Freemont
NESM Turkey Hill availability calc_Calc.csv
Processing: Turkey Hill
NESM Davis Lane availability calc_Calc.csv
Processing: Davis Lane
NESM Princeton availability calc_Calc.csv
Processing: Princeton
NESM County Home availability calc_Calc.csv
Processing: County Home
NESM Tumbleweed availability calc_Calc.csv
Processing: Tumbleweed
NESM Laveview availability calc_Calc.csv
Processing: Laveview
NESM Schell availability calc_Calc.csv
Processing: Schell
NESM Siler 421 availability calc_Calc.csv
Processing: Siler 421
NESM Faison availability calc_Calc.csv
Processing: Faison
NESM Four Oaks availability calc_Calc.csv
Processing: Four Oaks
NESM Monroe Moore availability calc_Calc.csv
Processing: Monroe Moore
NESM Dairy availability calc_Calc.csv
Processing: Dairy
NESM Red Oak availability calc_Calc.csv
Processing: Red Oak

,Site Name,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2022-09
0,Chiloquin,0.986329,0.985724,0.986081,0.979458,0.971827,0.963637,0.936103,0.916007,0.915993,0.924867,0.930116,0.931932,NaN
13,Cotten,1.000000,0.999271,0.999442,0.999317,0.999454,0.999063,0.999244,0.999371,0.999461,0.999530,0.999576,0.999614,NaN
18,County Home,0.979107,0.983675,0.981510,0.982984,0.985824,0.986618,0.986664,0.986870,0.985498,0.985802,0.987212,0.988286,NaN
26,Dairy,1.000000,0.999996,0.999899,0.999920,0.999937,0.999949,0.999962,0.999970,0.999344,0.999072,0.999161,0.999236,NaN
16,Davis Lane,0.862190,0.927093,0.949268,0.960319,0.968344,0.975159,0.978917,0.977248,0.980337,0.982835,0.984498,0.981166,NaN
23,Faison,0.954172,0.931908,0.942698,0.953137,0.960721,0.963328,0.963674,0.964819,0.969025,0.965642,0.962017,NaN,0.977422
24,Four Oaks,0.994944,0.996392,0.997056,0.997558,0.991802,0.993229,0.993942,0.994776,0.995378,0.993208,0.993877,NaN,0.995671
14,Freemont,0.664490,0.663426,0.663501,0.663975,0.664140,0.663449,0.663682,0.662908,0.662523,0.662804,0.663000,0.681284,NaN
3,Gauss,0.961699,0.980854,0.973909,0.956810,0.958563,0.959953,0.966804,0.972820,0.973066,0.975433,0.977164,0.978505,NaN
12,Jersey,1.000000,1.000000,1.000000,1.000000,0.999784,0.997679,0.997878,0.998203,0.998218,0.998436,0.998605,0.998724,NaN
20,Laveview,1.000000,0.999998,0.994889,0.995950,0.996867,0.997535,0.998122,0.998455,0.998734,0.998965,0.999083,0.999162,NaN
7,Mariposa,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.997062,0.997539,0.997857,0.998120,0.998321,0.998473,NaN
9,Merrill,1.000000,1.000000,0.999995,0.999996,0.999997,0.999997,0.999998,0.999999,0.999999,0.999999,0.999999,0.999999,NaN
25,Monroe Moore,1.000000,0.979612,0.984065,0.987357,0.989527,0.991716,0.993183,0.994139,0.994908,0.995629,0.996149,0.996533,NaN
11,NC Solar I,0.968507,0.976867,0.976867,0.974370,0.965751,0.969227,0.968597,0.973887,0.977630,0.980379,0.977017,NaN,0.937423
4,NC Solar II,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999898,NaN,1.000000
6,Nitro,0.988115,0.990811,0.992345,0.993299,0.994392,0.995426,0.991721,0.992879,0.993729,0.994432,0.993501,NaN,0.976644
17,Princeton,1.000000,0.998259,0.981241,0.986265,0.986045,0.988589,0.989216,0.987871,0.981015,0.983541,0.985514,NaN,1.000000
27,Red Oak,0.973549,0.986372,0.989952,0.989874,0.992020,0.993848,0.995005,0.993931,0.994353,0.995087,0.995700,0.996110,NaN
5,Sarah,1.000000,0.998406,0.995828,0.996602,0.995221,0.995740,0.994955,0.995219,0.995820,0.991739,0.992562,NaN,1.000000
21,Schell,1.000000,1.000000,1.000000,1.000000,1.000000,0.993715,0.994865,0.994823,0.995527,0.995373,0.995875,0.996219,NaN
2,Sedberry,0.997632,0.998669,0.998930,0.999178,0.999337,0.999455,0.999540,0.999566,0.999623,0.999653,0.999691,0.999717,NaN
22,Siler 421,0.998847,0.999119,0.998864,0.998597,0.998872,0.998921,0.998072,0.998384,0.998598,0.997559,0.997786,0.997956,NaN
8,Sonne Two,1.000000,0.998926,0.999212,0.999237,0.999309,0.994788,0.995597,0.990355,0.978591,0.960041,0.964629,0.968268,NaN
10,South Robeson,0.982414,0.981154,0.982056,0.985702,0.987552,0.986764,0.988550,0.990222,0.990583,0.991511,0.991774,NaN,0.973316
1,Tiburon,0.999735,0.999816,0.999863,0.999891,0.999910,0.999928,0.999940,0.999854,0.999860,0.999858,0.999387,0.998036,NaN
19,Tumbleweed,NaN,NaN,0.999995,0.999999,0.999428,0.994902,0.993821,0.986811,0.983735,0.979637,0.973976,0.969776,NaN
15,Turkey Hill,0.902758,0.936755,0.947304,0.958139,0.967894,0.974208,0.957064,0.959350,0.967202,0.973237,0.976558,0.978621,NaN

In [40]:
csv_path1 = "./manual_result.csv"
csv_path2 = "../output/summary/summary.csv"

manual_result = pd.read_csv(csv_path1)
automated_result = pd.read_csv(csv_path2)
common_columns = manual_result.columns.intersection(automated_result.columns).drop('Site Name')

common_columns

Index(['2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03',
       '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09',
       '2022-09'],
      dtype='object')

In [41]:
difference_df = pd.DataFrame(index=automated_result.index, columns=common_columns)
for column in common_columns:
    difference_df[column] = ((manual_result[column] * 100).round(2) - automated_result[column]).round(2)
difference_df.reset_index()
difference_df.to_csv("hightlight.csv", index=False)
difference_df

,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,2022-09
0,1.17,0.23,1.80,10.38,3.50,7.69,18.88,28.86,13.14,11.81,15.35,16.50,NaN
1,0.00,9.95,12.92,7.24,-0.05,0.51,-0.08,-0.06,-0.05,-0.01,9.69,-0.04,NaN
2,0.04,-0.43,0.26,0.46,2.86,-0.07,1.31,-0.12,1.50,0.11,-0.28,-0.33,NaN
3,0.00,0.36,1.34,-0.01,-0.01,0.19,0.00,0.00,0.41,3.94,-0.08,-0.08,NaN
4,-2.83,-7.29,-5.07,-3.77,-3.17,-2.48,-1.69,-0.01,-1.90,-1.72,-1.55,3.11,NaN
5,10.07,3.57,-4.68,-4.69,-3.93,-2.29,-1.69,-1.34,-3.10,3.28,17.30,NaN,4.15
6,0.14,-0.36,-0.29,-0.24,2.48,-0.68,-0.53,-0.52,-0.46,1.73,-0.61,NaN,0.47
7,-5.30,-4.85,-7.16,-7.53,-5.06,-5.68,-4.67,-4.74,-4.57,-4.30,-3.75,-21.26,NaN
8,-3.17,-3.56,1.10,-2.63,-3.14,-2.74,-3.25,-2.20,4.83,8.38,11.03,1.13,NaN
9,0.00,0.00,0.00,0.00,0.20,0.36,0.36,-0.18,0.12,-0.16,0.24,-0.13,NaN
10,0.00,0.11,1.61,-0.40,-0.20,-0.09,-0.19,-0.09,-0.13,-0.10,-0.09,-0.08,NaN
11,0.00,0.00,0.00,0.00,0.00,0.00,1.28,-0.25,-0.21,-0.19,-0.17,-0.15,NaN
12,0.00,0.00,0.11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
13,0.00,2.08,2.02,11.79,12.90,13.15,13.61,13.02,-0.47,-0.44,-0.26,-0.35,NaN
14,-3.15,-2.31,NaN,3.74,9.93,-1.65,0.47,-0.66,-2.13,-1.96,0.56,NaN,-1.65
15,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.16,NaN,0.00
16,1.20,-0.66,1.30,0.36,-0.56,-0.46,4.27,-0.71,-0.63,-0.56,1.26,NaN,2.01
17,0.00,0.06,23.85,-1.37,-0.49,-0.96,4.50,8.08,3.65,-1.65,-1.45,NaN,0.00
18,29.71,20.77,12.26,12.97,13.52,13.78,16.27,1.41,-0.25,2.05,-0.43,-0.39,NaN
19,18.96,6.56,0.36,-0.27,-0.30,0.99,2.15,-0.48,0.71,3.87,4.12,NaN,11.97
20,0.00,0.57,1.82,0.00,1.74,-0.37,0.66,-0.36,-0.45,5.44,-0.41,0.54,NaN
21,-0.24,-0.13,-0.11,-0.08,-0.07,1.97,-0.05,8.98,-0.04,0.48,-0.03,-0.03,NaN
22,0.52,0.40,0.36,0.31,0.99,19.93,17.86,14.85,12.76,31.45,10.43,14.38,NaN
23,1.77,3.44,2.57,0.02,-0.07,-0.24,0.15,-0.46,-2.14,4.97,12.08,11.26,NaN
24,-1.76,-1.67,-1.79,-1.13,-1.04,0.88,-1.06,14.41,51.12,28.40,-0.82,NaN,46.81
25,0.03,-0.00,-0.01,0.20,0.16,0.41,-0.01,0.27,0.03,0.05,0.58,1.00,NaN
26,NaN,NaN,15.30,39.40,40.82,35.81,34.07,30.88,29.82,27.87,25.49,25.59,NaN
27,0.71,-6.32,-5.27,-4.11,-3.21,-2.44,16.47,4.30,-3.28,-2.68,-2.34,-2.14,NaN