In [73]:
import os
import pandas as pd
from openpyxl.utils.exceptions import InvalidFileException
from zipfile import BadZipFile
import numpy as np

In [74]:
def main(directory):
    output_directory = ("../data")
    os.makedirs(output_directory, exist_ok=True)
    for file in os.scandir(directory):
        try:
            xls = pd.ExcelFile(file.path)
            for sheet_name in xls.sheet_names:
                if sheet_name != "Sheet 1":
                    df = pd.read_excel(file.path, sheet_name=sheet_name)
                    csv_file_name = f"{file.name.replace('.xlsx', '')}_{sheet_name}.csv"
                    csv_file_path = os.path.join("../data", csv_file_name)
                    df.to_csv(csv_file_path, index=False)
                    print(f"Converted {file.name} sheet {sheet_name} to CSV format.")

        except BadZipFile as e:
            print(f"Could not process {file.name}: File is not a valid zip file.")
        except InvalidFileException as e:
            print(f"Could not process {file.name}: File is not a valid Excel file.")
        except Exception as e:
            print(f"An unexpected error occurred while processing {file.name}: {e}")

In [75]:
main("../raw-data")

Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Chiloquin Solar Farm to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Cotten Farm to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet County Home Solar Center, LLC to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Dairy Solar to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Davis Lane Solar, LLC to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Faison to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Four Oaks to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Freemont Solar Center to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Gauss Solar to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Jersey Solar to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Lakeview Solar to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Mariposa Solar Center, LLC to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Merrill Solar to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Monroe Moore Farm to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet NC Solar I to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet NC Solar II to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Nitro to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Princeton to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Red Oak Solar Farm to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet S. Robeson Solar to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Sarah to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Schell Solar Farm to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Sedberry to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Siler 421 Farm to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Sonne Two, LLC to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Tiburon to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Tumbleweed Solar Farm to CSV format.
Converted 2024-01-01-2024-01-31_NESM - Availability.xlsx sheet Turkey Hill Solar to CSV format.

In [76]:
def detect_separator(line):
    if "," in line:
        return ","

    return ";"


def read_site(file_path):
    lines = []

    # Read only the first 10 lines into the 'lines' list
    with open(file_path, "r") as f:
        for _ in range(10):
            line = f.readline()
            if not line:
                break
            lines.append(line)

    # The first line where the word "timpestamps" (in any case) appears is the header line
    header_index = next(
        (i for i, line in enumerate(lines) if "timestamp" in line.lower()), None
    )

    if header_index is None:
        error_message = "Header not found in the file."
        print(error_message)
        exit()

    separator = detect_separator(lines[header_index])
    # The index of the found header is exactly the number of rows to skip when reading the data
    df = pd.read_csv(file_path, skiprows=header_index, header=0, sep=separator)
    # print(df.loc[0,:])

    # Check whether the second row in the dataframe is an extra unit row
    if pd.isna(df.iloc[0, 0]):
        df.drop(index=0, inplace=True)
        df.reset_index(
            drop=True, inplace=True
        )  # Resetting the index after dropping the row

    return df

In [77]:
df = read_site("../data/2024-01-01-2024-01-31_NESM - Availability_Chiloquin Solar Farm.csv")
df

,Timestamp,POA*,"Sungrow 60kW Inverter - 1.1, Line kW","Sungrow 60kW Inverter - 1.2, Line kW","Sungrow 60kW Inverter - 1.3, Line kW","Sungrow 60kW Inverter - 1.4, Line kW","Sungrow 60kW Inverter - 1.5, Line kW","Sungrow 60kW Inverter - 1.6, Line kW","Sungrow 60kW Inverter - 1.7, Line kW","Sungrow 60kW Inverter - 1.8, Line kW",...,"Sungrow 60kW Inverter - 11.7, Line kW","Sungrow 60kW Inverter - 11.8, Line kW","Sungrow 60kW Inverter - 11.9, Line kW","Sungrow 60kW Inverter - 11.10, Line kW","Sungrow 60kW Inverter - 11.11, Line kW","Sungrow 60kW Inverter - 11.12, Line kW","Sungrow 60kW Inverter - 11.13, Line kW","Sungrow 60kW Inverter - 11.14, Line kW","Sungrow 60kW Inverter - 11.15, Line kW",Production meter active power
0,2024-01-01 00:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.87813
1,2024-01-01 01:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.855
2,2024-01-01 02:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.84791
3,2024-01-01 03:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.8775
4,2024-01-01 04:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.82208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2024-01-31 19:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.23895
740,2024-01-31 20:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.22125
741,2024-01-31 21:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.04375
742,2024-01-31 22:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.15271
743,2024-01-31 23:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.11312

In [78]:
def find_keywords(column, keywords_list):
    for keywords in keywords_list:
        if all(keyword.lower() in column.lower() for keyword in keywords):
            return True
    return False


def column_basic(df):
    keyword_mapping = {
        "Timestamp": [["timestamp"]],
        "POA Irradiance": [["poa"]],
    }

    rename_mapping = {}
    for new_name, keywords_list in keyword_mapping.items():
        found = False
        for col in df.columns:
            found = find_keywords(col, keywords_list)
            if found:
                rename_mapping[col] = new_name
                break
        if not found:
            df[new_name] = np.nan

    df.rename(columns=rename_mapping, inplace=True)

    return df

name_mapping = {}
def column_inverter(df):
    known_columns = {
        "Timestamp",
        "POA Irradiance",
    }
    inverter_index = 1

    for col in df.columns:
        if col not in known_columns:
            new_name = "Inverter_" + str(inverter_index)
            df.rename(columns={col: new_name}, inplace=True)
            # Used for renaming cols to their original names in the end of the processing
            name_mapping[new_name] = col
            inverter_index += 1

    return df


def rename(df):
    return (
        df.pipe(column_basic)
        .pipe(column_inverter)
    )

In [79]:
df = rename(df)
df

,Timestamp,POA Irradiance,Inverter_1,Inverter_2,Inverter_3,Inverter_4,Inverter_5,Inverter_6,Inverter_7,Inverter_8,...,Inverter_157,Inverter_158,Inverter_159,Inverter_160,Inverter_161,Inverter_162,Inverter_163,Inverter_164,Inverter_165,Inverter_166
0,2024-01-01 00:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.87813
1,2024-01-01 01:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.855
2,2024-01-01 02:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.84791
3,2024-01-01 03:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.8775
4,2024-01-01 04:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.82208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2024-01-31 19:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.23895
740,2024-01-31 20:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.22125
741,2024-01-31 21:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.04375
742,2024-01-31 22:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.15271
743,2024-01-31 23:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-15.11312

In [85]:
# Convert the datetime string to a datetime object
def custom_to_datetime(df):
    formats = [
        "%m/%d/%Y %H:%M:%S",
        "%m/%d/%y %H:%M:%S",
        "%m/%d/%y %H:%M",
        "%m/%d/%Y %I:%M:%S %p",
        "%m-%d-%Y %H:%M:%S",
        "%m-%d-%y %H:%M:%S",
        "%m-%d-%Y %H:%M",
        "%m-%d-%y %H:%M",
        "%Y-%m-%d %H:%M:%S",
        "%d/%m/%Y %H:%M:%S",
        "%m/%d/%Y %H:%M",
        "%Y-%m-%d %H:%M",
    ]

    for fmt in formats:
        try:
            df["Timestamp"] = pd.to_datetime(df["Timestamp"], format=fmt)
            return df

        except ValueError:  # if the format doesn't match, continue to the next format
            continue

    # Quit the program if no suitable format is found
    raise ValueError("No suitable format found for the 'Timestamp' column.")


def normalize(df):
    cols_to_convert = df.columns[df.columns != "Timestamp"]
    df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors="coerce")
    df = custom_to_datetime(df)

    return df

In [91]:
df = normalize(df)
df

,Timestamp,POA Irradiance,Inverter_1,Inverter_2,Inverter_3,Inverter_4,Inverter_5,Inverter_6,Inverter_7,Inverter_8,...,Inverter_158,Inverter_159,Inverter_160,Inverter_161,Inverter_162,Inverter_163,Inverter_164,Inverter_165,Inverter_166,Avg_Top_20%
8,2024-01-01 08:00:00,61.17756,3.839833,4.048021,3.992563,3.516438,3.763188,4.120250,3.608229,3.739021,...,3.878271,3.557062,3.679917,3.762250,3.652688,3.784479,3.817833,3.542500,626.7177,22.342936
9,2024-01-01 09:00:00,135.17960,10.744840,10.792870,10.790870,10.505790,10.652310,10.941440,10.630390,10.733790,...,10.282270,9.294583,10.066790,9.431979,9.928249,9.628187,10.159980,10.030040,1676.3010,59.771011
10,2024-01-01 10:00:00,221.19310,19.137290,18.979590,19.057860,18.961830,19.003390,19.167060,19.059830,18.981650,...,19.105960,18.595940,18.656350,18.665230,18.601790,18.944690,18.700270,18.670000,3201.6180,114.255203
11,2024-01-01 11:00:00,490.18210,33.183810,32.619650,32.783310,32.859150,32.729920,32.547880,32.877230,34.346890,...,31.368060,30.457620,30.471560,30.547230,30.637920,30.882630,30.606520,30.723560,5499.0410,198.067872
12,2024-01-01 12:00:00,683.27510,44.254460,43.968980,44.494750,45.095580,44.968250,44.872380,45.474190,45.667040,...,47.084400,43.912170,46.591580,43.443100,46.428040,43.505880,46.387170,46.248540,6986.6360,250.321745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,2024-01-31 11:00:00,131.83110,8.230790,8.232667,8.206814,7.804292,8.177230,8.437853,8.227791,8.190875,...,8.420313,8.107084,8.142395,8.135374,8.234209,8.398626,8.190042,8.201167,1256.5150,48.859018
732,2024-01-31 12:00:00,181.00160,10.843540,10.805380,10.772750,9.738002,10.760250,9.893750,10.857250,10.844460,...,10.954770,10.492480,10.644580,10.517890,10.739190,10.801310,10.679750,10.742480,1641.4080,63.935710
733,2024-01-31 13:00:00,225.45280,13.318730,13.136610,13.140960,13.234040,13.145710,13.339690,13.246400,13.255730,...,13.310770,12.807710,12.969670,12.820560,13.050420,13.125480,13.003290,13.089080,2006.3380,78.042569
734,2024-01-31 14:00:00,151.84790,9.460689,9.290124,9.277729,9.353021,9.269166,9.479166,9.332000,9.375374,...,9.327333,8.818624,8.998855,8.824291,9.123916,9.088457,9.078855,9.082168,1370.3600,53.370350
735,2024-01-31 15:00:00,106.11270,6.099291,6.088708,6.054417,6.076791,6.040167,6.266062,6.085021,6.105542,...,6.098458,5.709813,5.854834,5.732542,5.973083,5.983604,5.929563,5.940729,905.9780,35.321328

In [ ]:
def sum_inv(df, col_name):
    inverter_cols = [col for col in df.columns if col.startswith("Inverter_")]
    df[col_name] = df[inverter_cols].sum(axis=1)

In [ ]:
df

In [87]:
# Calculate the average energy produced by the best 20% of inverters
# that have been working non-stop for at least an hour in conditions where POA Irradiance > 50
def compute_avg(df):
    inverter_cols = [col for col in df.columns if col.startswith("Inverter_")]
    # Add a column to store the average value of top 20% inverter values
    df["Avg_Top_20%"] = np.nan
    for index, row in df.iterrows():
        if row['POA Irradiance'] > 50:
            candidate_values = row[inverter_cols].dropna()
            positive_values = candidate_values[candidate_values > 0]
            if not positive_values.empty:
                # 80% of the values in positive_values are less than or equal to the 80th percentile value
                percentile_80 = np.percentile(positive_values, 80)
                # Select values greater than or equal to the 80th percentile
                top_20 = positive_values[positive_values >= percentile_80]
                if not top_20.empty:
                    df.at[index, "Avg_Top_20%"] = top_20.mean()
    
    return df

def check_and_autofill_inverter(df)

In [ ]:
    condition_missing = df[inverter_cols].isna().any(axis=1)
    condition_poa = df["POA Irradiance"] > 50

In [90]:
df = compute_avg(df)
df = df[df["POA Irradiance"]>50]
df

/var/folders/sd/b4881p2s3sng7vt1jfcyyvm80000gn/T/ipykernel_17576/3323315278.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Avg_Top_20%"] = np.nan

,Timestamp,POA Irradiance,Inverter_1,Inverter_2,Inverter_3,Inverter_4,Inverter_5,Inverter_6,Inverter_7,Inverter_8,...,Inverter_158,Inverter_159,Inverter_160,Inverter_161,Inverter_162,Inverter_163,Inverter_164,Inverter_165,Inverter_166,Avg_Top_20%
8,2024-01-01 08:00:00,61.17756,3.839833,4.048021,3.992563,3.516438,3.763188,4.120250,3.608229,3.739021,...,3.878271,3.557062,3.679917,3.762250,3.652688,3.784479,3.817833,3.542500,626.7177,22.342936
9,2024-01-01 09:00:00,135.17960,10.744840,10.792870,10.790870,10.505790,10.652310,10.941440,10.630390,10.733790,...,10.282270,9.294583,10.066790,9.431979,9.928249,9.628187,10.159980,10.030040,1676.3010,59.771011
10,2024-01-01 10:00:00,221.19310,19.137290,18.979590,19.057860,18.961830,19.003390,19.167060,19.059830,18.981650,...,19.105960,18.595940,18.656350,18.665230,18.601790,18.944690,18.700270,18.670000,3201.6180,114.255203
11,2024-01-01 11:00:00,490.18210,33.183810,32.619650,32.783310,32.859150,32.729920,32.547880,32.877230,34.346890,...,31.368060,30.457620,30.471560,30.547230,30.637920,30.882630,30.606520,30.723560,5499.0410,198.067872
12,2024-01-01 12:00:00,683.27510,44.254460,43.968980,44.494750,45.095580,44.968250,44.872380,45.474190,45.667040,...,47.084400,43.912170,46.591580,43.443100,46.428040,43.505880,46.387170,46.248540,6986.6360,250.321745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,2024-01-31 11:00:00,131.83110,8.230790,8.232667,8.206814,7.804292,8.177230,8.437853,8.227791,8.190875,...,8.420313,8.107084,8.142395,8.135374,8.234209,8.398626,8.190042,8.201167,1256.5150,48.859018
732,2024-01-31 12:00:00,181.00160,10.843540,10.805380,10.772750,9.738002,10.760250,9.893750,10.857250,10.844460,...,10.954770,10.492480,10.644580,10.517890,10.739190,10.801310,10.679750,10.742480,1641.4080,63.935710
733,2024-01-31 13:00:00,225.45280,13.318730,13.136610,13.140960,13.234040,13.145710,13.339690,13.246400,13.255730,...,13.310770,12.807710,12.969670,12.820560,13.050420,13.125480,13.003290,13.089080,2006.3380,78.042569
734,2024-01-31 14:00:00,151.84790,9.460689,9.290124,9.277729,9.353021,9.269166,9.479166,9.332000,9.375374,...,9.327333,8.818624,8.998855,8.824291,9.123916,9.088457,9.078855,9.082168,1370.3600,53.370350
735,2024-01-31 15:00:00,106.11270,6.099291,6.088708,6.054417,6.076791,6.040167,6.266062,6.085021,6.105542,...,6.098458,5.709813,5.854834,5.732542,5.973083,5.983604,5.929563,5.940729,905.9780,35.321328